.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #008080;
  color: #fff;
  height: 3vh;
  z-index: 100;
}

.menu {
  gap: 1em;
  font-size: 18px;
}

.menu ul {
  display: flex;
  list-style-type: none;
}

.menu li {
  padding: 5px 24px;
}

.menu li:hover {
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:hover {
  color: #00ffff;
}

.logo img {
  width: 100px;
  height: 80px;
}
