/* Desktop */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f8ff;
  color: #fff;
  z-index: 100;
}

.menu {
  gap: 1em;
  font-size: 18px;
}

.menu ul {
  display: flex;
  list-style-type: none;
}

.menu li {
  padding: 5px 30px;
}

.menu li:hover {
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  color: #003366;
}

.logo img {
  width: 100px;
  height: 80px;
  padding-left: 30px;
}

/* Tablets */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .menu li:hover {
    transform: scale(1.3);
  }
}

/* For Mobile Devices */

@media screen and (min-width: 340px) and (max-width: 768px) {
  .logo img {
    width: 100%;
    height: auto;
    padding-left: 0;
  }

  .wrapper {
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  .menu ul {
    padding: 0;
    justify-content: center;
  }

  .menu li {
    padding: 0 15px;
  }

  .menu li:hover {
    transform: scale(1.3);
  }
}
