.centered {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content: center;
  box-shadow: 2px 3px 7px 3px rgba(0, 0, 0, 0.42);
  margin: 3rem;
  height: 70vh;
}

.centered h1,
.centered p {
  text-align: center;
}
